# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# App Files
# --------------------
build/

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
/out/
.idea/
.idea_modules/

# --------------------
# Vim Files
# --------------------
*.swp
*.vim

.babelrc
.editorconfig
.eslintrc
.gitattributes
Procfile
circle.yml
client/
database.sqlite
graphql.config.json
graphql.schema.json
package.json
public/
server/
webpack.config.js
yarn.lock
